@font-face {
    font-family: 'DM Sans', sans-serif;
    font-family: 'DM Serif Text', serif;
    src: url('https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Text&display=swap');
    font-weight: 400;
}